<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>org.mmarini.flight.jsf.Messages</param-value>
	</context-param>
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>RadarMapServlet</servlet-name>
		<display-name>RadarMapServlet</display-name>
		<description></description>
		<servlet-class>org.mmarini.atc.jsf.RadarMapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshServlet</servlet-name>
		<display-name>RefreshServlet</display-name>
		<description></description>
		<servlet-class>org.mmarini.atc.jsf.RefreshServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RadarMapServlet</servlet-name>
		<url-pattern>/RadarMapServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefreshServlet</servlet-name>
		<url-pattern>/RefreshServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
		<taglib-location>c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
		<taglib-location>fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jsf/core</taglib-uri>
		<taglib-location>jsf_core.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jsf/html</taglib-uri>
		<taglib-location>html_basic.tld</taglib-location>
	</taglib>
	<resource-ref>
		<res-ref-name>jdbc/atcDatabase</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
