
.fl-040 {
  stroke: #eceacc;
}

.fl-080 {
  stroke: #8de5e8;
}

.fl-120 {
  stroke: #60d750;
}

.fl-160 {
  stroke: #2b21e9;
}

.fl-200 {
  stroke: #e95ada;
}

.fl-240 {
  stroke: #8de5e8;
}

.fl-280 {
  stroke: #ea332a;
}

.fl-320 {
  stroke: #eee450;
}

.fl-360 {
  stroke: #aead97;
}

circle.runway {
  fill: none;
  stroke: #eceacc;
  r: 3
}
.radar {
  background-color:black;
}

text {
  font: 10px sans-serif;
}

circle.beacon {
  fill: none;
  stroke: #fc7e04;
  r: 3
}

text.beacon {
  stroke: #fc7e04;
}

circle.entry {
  fill: none;
  stroke: #ea332a;
  r: 3
}

circle.flight {
  fill: none;
  stroke: white;
  r: 3
}

text.entry {
  stroke: #ea332a;
}


text.runway {
  stroke: #eceacc;
}

line.land {
  stroke: #797429;
}

line.connection {
  stroke: #523010;
}

line.entry {
  stroke: #8f551d;
}

line.takeoff {
  stroke: #306060
}

line.landConnection {
  stroke: #004000;
}
