.ATC {
  background-color:black;
}

.terminal {
/*  background-color:black;*/
  color: #00ff00;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
